@CHARSET "ISO-8859-1";
head {
	height: 180px;
	background-color: rgb (86,24,140);	
}

menu {
	height:45px;
	background-color: #FFFFFF;
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

li {
	float:left;
}

a:link,a:visited {
	display:block;
	width:120px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#c0c0c0;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}

a:hover,a:active {
	background-color:#000000;
}